/* MAIN */
*{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.title {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    display: inline-block;
    position: relative;
}

.title:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 3px;
    background: #0036e6;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
}

section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (min-width: 1024px) {
    #sobre, #equipe, #servicos, #contato {
        max-height: none;
    }
}  

.navbar{
    transition: 0.3s ease-in-out;
}

.nav-link{
    position: relative;
    padding: 0 !important;
}
  
.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.nav-link:hover::before {
    transform-origin: center;
    transform: scaleX(1);
}

.active::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(1);
    transition: transform .3s ease-in-out;
}

h1{
    width: auto;
}

.next-section{
    transition: 0.2s;
}

.ocultar-mobile:hover .next-section{
    transform: scale(1.1);
    transition: 0.2s;
}

/* UTILIDADES */
.no-underline{
    text-decoration: none !important;
}

.transparent-btn{
    background-color: rgba(0, 0, 0, .2);
}

.circle{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: inline-block;
}

.img-temp{
    width: 50px;
    height: 50px;
    background-color: red;
}

.img-temp-profile{
    width: 200px;
    height: 275px;
    border: 2px solid gray;
    border-radius: 15px;
}

.badge{
    border-radius: 10px !important;
}

.rounded-left{
    border-radius: 0 !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.rounded-right{
    border-radius: 0 !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.rounded-full{
    border-radius: 10px !important; 
}

/* HOME */

#sobre-btn{
    border-radius: 25px;
}
#sobre-btn:hover{
    background-color: white;
    color: black !important;
    transition: 0.2s;
}

/* SOBRE */

#sobre-main{
    width: 80%;
}

@media (min-width: 1024px) {
    #sobre h1, #sobre h5{
        padding-left: 1.5rem;
    }
    #sobre-main{
        width: 60%;
    }
}  

#missao, #visao, #valores {
    color: #fff;
    display: inline-block;
    position: relative;
}

.mvv, .mvv-start{
    margin-bottom: 2rem;
}


@media (min-width: 1024px) {
    .mvv{
        padding-left: 2rem;
    }
    #mvv-div{
        width: 50%;
        margin-left: 4rem;
    }
}  

#missao:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 3px;
    background: #a9e600;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
}
#visao:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 3px;
    background: #00b0e6;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
}
#valores:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 3px;
    background: #f62622;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
}

/* EQUIPE */
#equipe .social-icon{
    width: 20px !important;
    height: 20px !important;
    margin-left: 5px;
    margin-right: 5px;
    color: #FFD43B;
    transition: 0.2s;
}
#equipe .social-icon:hover{
    color: #c7a732;
    transition: 0.2s;
}


/* SERVIÇOS */
.custom-bg {
    background: 
        linear-gradient(rgba(100, 0, 100, 0.9), rgba(75, 0, 125, 0.5)), 
        url("img/universebackground.jpg") fixed center;
    background-size: cover;
    background-position: center;
    padding: 7vh;
}

/* CONTATO */
.form-label{
    font-weight: bold;
    font-size: large;
}

.form-control{
    background-color: rgba(255,255,255,0.1) !important;
    border: 2px solid #515151 !important;
    color: white !important;
}

.form-control::placeholder{
    color: rgba(255,255,255,0.4) !important;
}

.margin-left{
    margin-left: 10vw !important;
}
.margin-right{
    margin-right: 10vw !important;
}

.nome-input{
    padding-right: calc(var(--bs-gutter-x) * .2) !important;
}
.sobrenome-input{
    padding-left: calc(var(--bs-gutter-x) * .2) !important;
}

/* footer */

footer {
    background-color: #111;
    color: #fff;
    padding: 40px 0 10px 0;
}

.subscribe{
    font-size: 12px;
}

.footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.footer-links a, .footer-info p {
    color: #bbb;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}
.footer-links a:hover {
    color: #fff;
}
.social-icons a {
    color: #bbb;
    font-size: 1.2rem;
    margin-right: 10px;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #6f42c1;
}
.subscribe input {
    background: transparent;
    border: 1px solid #6f42c1;
    color: #fff;
}
.subscribe input::placeholder {
    color: #bbb;
}
.subscribe button {
    background-color: #6f42c1;
    border: none;
    color: #fff;
}
.subscribe button:hover {
    background-color: #59339d;
}

@media (max-width: 768px){
    footer{
        text-align:center;
    }
}