/* MAIN */
*{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.title {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    display: inline-block;
    position: relative;
}

.title:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 3px;
    background: #0036e6;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
}

section{
    padding-top: 10vh;
}

@media (min-width: 1025px) {
    #sobre, #equipe, #servicos, #contato {
        min-height: 100vh;
    }
    section{
        padding-top: 60px;
    }
}  

.navbar{
    transition: 0.3s ease-in-out;
    padding: 10px !important;
}

.nav-link{
    position: relative;
    padding: 0 !important;
}
  
.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.nav-link:hover::before {
    transform-origin: center;
    transform: scaleX(1);
}

.active::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(1);
    transition: transform .3s ease-in-out;
}

h1{
    width: auto;
}

.next-section{
    transition: 0.2s;
}

.ocultar-mobile:hover .next-section{
    transform: scale(1.1);
    transition: 0.2s;
}

/* UTILIDADES */
.no-underline{
    text-decoration: none !important;
}

.transparent-btn{
    background-color: rgba(0, 0, 0, .2);
}

.circle{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: inline-block;
}    .carousel-caption {
    position: static;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
  }
  .carousel-item {
    text-align: center;
  }
  .carousel-item img {
    max-width: 100px; /* Ajuste o tamanho conforme necessário */
    margin: 0 auto;
  }

.img-temp{
    width: 50px;
    height: 50px;
    background-color: red;
}

.badge{
    border-radius: 10px !important;
}

.rounded-left{
    border-radius: 0 !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.rounded-right{
    border-radius: 0 !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.rounded-full{
    border-radius: 10px !important; 
}

/* HOME */
#home{
    background: radial-gradient(circle,rgba(205,120,0) 100%, rgba(0,0,0) 10%);
}

#sobre-btn{
    border-radius: 25px;
}
#sobre-btn:hover{
    background-color: white;
    color: black !important;
    transition: 0.2s;
}

/* SOBRE */
#sobre{
    padding-top: calc(2rem + 60px);
    margin-top: 5px;
}

#sobre-main{
    width: 80%;
}

#sobre .text-secondary{
    padding-top: 1rem;
}

@media (min-width: 1025px) {
    #sobre h1, #sobre h5{
        padding-left: 1.5rem;
    }
    #sobre-main{
        width: 60%;
    }
    #sobre .text-secondary{
        padding-top: 3rem;
    }
}  

#missao, #visao, #valores {
    color: #fff;
    display: inline-block;
    position: relative;
}

.mvv, .mvv-start{
    margin-bottom: 2rem;
    width: 75%;
}


@media (min-width: 1025px) {
    .mvv{
        padding-left: 2rem;
    }
    #mvv-div{
        width: 65%;
        margin-left: 4rem;
    }
}  

#missao:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 3px;
    background: linear-gradient(rgba(255,0,255));
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
}
#visao:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 3px;
    background: #00b0e6;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
}
#valores:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 3px;
    background: #f62622;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
}

.img-paisagem{
    position: absolute;
    border-radius: 15px;
}

.img-paisagem-mobile{
    width: 30vh;
    height: 18vh;
    margin-top: 1rem;
    border-radius: 15px;
}

#img-paisagem-1{
    left: 50%;
    top: 115%;
    width: 40vw;
    height: 20vw;
}

#img-paisagem-2{
    left: 70%;
    top: 140%;
    width: 15vw;
    height: 25vw;
}

#img-paisagem-3{
    left: 40%;
    top: 110%;
    width: 15vw;
    height: 8vw;
}

/* EQUIPE */
#equipe .social-icon{
    width: 20px !important;
    height: 20px !important;
    margin-left: 5px;
    margin-right: 5px;
    color: #FFD43B;
    transition: 0.2s;
    margin-bottom: 3rem;
}
#equipe .social-icon:hover{
    color: #c7a732;
    transition: 0.2s;
}

.profile{
    border-radius: 15px;
    width: 36vw;
    height: 50vw;
    border: 2px solid gray;
}

@media (min-width: 768px) {
    .profile{
        width: 14vh;
        height: 20vh;
        border: 2px solid gray;
        border-radius: 15px;
    }
}  

@media (min-width: 1025px) {
    .profile{
        width: 18vh;
        height: 25vh;
        border: 2px solid gray;
        border-radius: 15px;
    }
}  

@media (min-width: 1440px) {
    .profile{
        width: 36vh;
        height: 50vh;
        border: 2px solid gray;
        border-radius: 15px;
    }
}  


/* SERVIÇOS */
.custom-bg {
    background: 
        linear-gradient(rgba(100, 0, 100, 0.9), rgba(75, 0, 125, 0.5)), 
        url("img/universebackground.jpg") fixed center;
    background-size: cover;
    background-position: center;
    padding: 7vh;
}

/* CONTATO */
.form-label{
    font-weight: bold;
    font-size: large;
}

.form-control{
    background-color: rgba(255,255,255,0.1) !important;
    border: 2px solid #515151 !important;
    color: white !important;
}

.form-control::placeholder{
    color: rgba(255,255,255,0.4) !important;
}

.margin-left{
    margin-left: 10vw !important;
}
.margin-right{
    margin-right: 10vw !important;
}

.nome-input{
    padding-right: calc(var(--bs-gutter-x) * .2) !important;
}
.sobrenome-input{
    padding-left: calc(var(--bs-gutter-x) * .2) !important;
}

#contato-main{
    margin-bottom: 2rem;
}

#form{
    width: 80%;
}
#contato button{
    width: 100%;
    margin-bottom: 2rem;
}
#contact-div{
    width: 75% !important;
}

@media (min-width: 1025px) {
    #form{
        width: 100%;
    }
    #contato button{
        width: auto;
        margin-bottom: auto;
    }
}  

/* footer */

footer {
    background-color: #111;
    color: #fff;
    padding: 40px 0 10px 0;
}

.subscribe{
    font-size: 12px;
}

.footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.footer-links a, .footer-info p {
    color: #bbb;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}
.footer-links a:hover {
    color: #fff;
}
.subscribe input {
    background: transparent;
    border: 1px solid #6f42c1;
    color: #fff;
}
.subscribe input::placeholder {
    color: #bbb;
}
.subscribe button {
    background-color: #6f42c1;
    border: none;
    color: #fff;
}
.subscribe button:hover {
    background-color: #59339d;
}

@media (max-width: 768px){
    footer{
        text-align: center;
    }
}